#-------------------------------------------------#
#           Top-most EditorConfig File            #
#-------------------------------------------------#
root = true


#-------------------------------------------------#
#             3 space tab indentation             #
#-------------------------------------------------#

[*.{c,h,hpp}]

indent_style = tab
indent_size  = 3


[*]
end_of_line = lf

[*.xml]
indent_style = space